h1 {
    text-align: center;
    font-family: Arial;
}
.bar1 {
    text-align: center;
}
nav {
    width :1320px;
    height : 50px;
    background-color: white;
    font-weight: bold;
    margin : 0 auto;
}

.son1, .son2, .son3, .son4 {
    width : 300px;
    height : 40px;
    margin: 5px 10px;
    /* border : 1px solid black; */
    background-color : white;
    display : inline-block;
    font-family: Arial;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
}

.Sep1, .Sep2, .Sep3 {
    width: 1320px;
    height: 40px;
    background-color: black;
    color: white;
    margin: 10px auto;
}

.box1, .box2, .box3 {
    width: 100px;
    height: 30px;
    margin: 5px 10px;
    font-family: franklin Gothic Medium;
    font-size: 30px;
    line-height: 40px;
    text-shadow: 1px 1px 2px grey;
}

.main1, .main2, .main3 {
    width: 1320px;
    height : 380px;
    background-color: rgb(230, 221, 221);
    margin: 0 auto;
    padding: 10px;
} 

.information{
    width: 350px;
    height: 300px;
    background-color: rgb(245, 240, 240);
    margin: 15px 10px;
    padding: 10px;
    display: inline-block;
    font-family: 'Nanum Pen Script', cursive;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    float: left;
}

h2 {
    font-family: 'Nanum Pen Script', cursive;
    font-weight: bold;
    font-size: 40px;
    color: purple;
}

#스타일, #연령 {
    font-family: 'Nanum Pen Script', cursive;
    font-weight: bold;
    font-size: 35px;
    color: rgb(65, 6, 55);
}



.input {
    font-family: 'Nanum Pen Script', cursive;
    font-weight: bold;
    font-size: 30px;
    color: rgb(182, 9, 153);
    display: inline-block;
    margin: 5px 10px;
}

.image {
    display: inline-block;
}       

.temp{
    height:100%;

}
#do-center-align{
    text-align:center;
}
